[MASTER]

jobs=0
extension-pkg-allow-list=cv2
extension-pkg-whitelist=cv2
unsafe-load-any-extension=yes


[MESSAGES CONTROL]

confidence=
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
		c-extension-no-member,
		import-error,


[REFACTORING]

max-nested-blocks=5
never-returning-functions=sys.exit,argparse.parse_error


[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-modules=cv2


[BASIC]

argument-naming-style=camelCase
attr-naming-style=camelCase
bad-names=foo,
          bar,
          baz,
          toto,
          tutu,
          tata
class-attribute-naming-style=any
class-const-naming-style=UPPER_CASE
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=camelCase
good-names=i,
           j,
           k,
           ex,
           Run,
           _,
		   B, G, R,
		   x1, y1, x2, y2,
		   a, b, c, d, e, f, x, y,
		   p0, fig, ax
inlinevar-naming-style=any
method-naming-style=camelCase
module-naming-style=any
property-classes=abc.abstractproperty
variable-naming-style=camelCase


[FORMAT]

expected-line-ending-format=
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=88
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no


[DESIGN]

max-args=6
max-attributes=7
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2


[CLASSES]

check-protected-access-in-special-methods=no
defining-attr-methods=__init__,
                      __new__,
                      setUp,
                      __post_init__
exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls
